@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.homePage  {
  background-color: #1c1c1c;
  background-image: linear-gradient(to bottom right, #1c1c1c, #001f33);
  min-height: 100vh;
  font-family:'Poppins', sans-serif;
}
.navBar  {
  background-color: #0c006b;
  font-family:'Poppins', sans-serif;
}
@media only screen and (min-width: 992px) {
  .tableImage {
    height: 400px;
    width: 1200px;
  }
}
@media only screen and (min-width: 992px) {
  .Image {
    height: 500px;
    width: 400px;
  }
}



